{% extends 'partial/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Reset
{% endblock %}

<html>
	<head>
	</head>
	{% block content %}
	<body class="menubar-hoverable header-fixed" style="background-color: white">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img src="{% static 'img/comhaven_logo4.png' %}" id="app-logo">
			</div>
			<div class="col-sm-6" style="margin-top: 80px;">
				<!-- BEGIN RESET SECTION -->
				<section class="section-account">

					<!--<div class="spacer"></div>-->
					<div class="card contain-sm style-transparent" style="max-width:450px; background: transparent;">
						<div class="card-body">
							<br/>
							<div class="card">
								<div class="card-body">
								<br>
									<h4><span class="text-lg text-bold text-primary">Reset Your Password</span></h4>
									<br/><br>
									<form class="form floating-label" method="post">
										{% csrf_token %}
                                        <p style="color: red">Please enter your email address to
                                          send instruction in resetting your password.</p>
										<div class="form-group">
                                            {{ form.email|add_class:"form-control" }}
											<label>Email Address</label>
										</div>
										<br/>
										<div class="row">
											<div class="col-xs-6 text-left">
												<a href="{% url 'login' %}" class="text-primary"><span><i class="fa fa-chevron-left"></i> </span>Go Back</a>
											</div><!--end .col -->
											<div class="col-xs-6 text-right">
												<button class="btn btn-primary btn-block" type="submit">Send</button>
											</div><!--end .col -->
										</div><!--end .row -->
									</form>
								</div>
							</div>
						</div><!--end .card -->
					</div>
				</section>
				<!-- END LOGIN SECTION -->
			</div>
		</div>
	{% endblock %}
	</body>
</html>


