{% extends 'partial/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Create An Account {% endblock %}
<html>
	{% block content %}
	<body class="menubar-hoverable header-fixed" style="background-color: white">
		<div class="row col-sm-12" style="padding:0; margin:0;">
			<div class="col-sm-6 text-center">
				<img src="{% static 'img/comhaven_logo4.png' %}" id="app-logo">
			</div><!-- end .col-sm-6 -->
			<div class="col-sm-6">
				<!-- BEGIN SIGN-UP SECTION -->
				<section class="section-account">
					<div class="card contain-sm style-transparent mt-0" style="max-width:450px; background: transparent; max-height: 200px;">
						<br><!-- !break -->
						<div class="card-body">
							<div class="card">
								<div class="card-body">
									<h2 class="text-bold text-center text-primary">Create an account</h2>
									<br><!-- !break -->
									<form class="form floating-label" action="{% url 'register' %}" accept-charset="utf-8" method="post" id="form">
										{% if form.errors %}
											<div class="alert alert-danger">
												<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
												<strong></strong> Oops! It seems your inputs are incorrect. Please try again.
											</div><!-- emd .alert .alert-danger -->
										{% endif %}<!-- endif -->
										{% if messages %}
											{% for message in messages %}
												<p {% if message.tags %} class="alert {{ message.tags }} alert-dismissible text-center"{% endif %}>
													<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
													{{ message|safe }}
												</p><!-- end .alert -->
											{% endfor %}<!-- endfor -->
										{% endif %}<!-- endif -->
										{% csrf_token %}
										<div class="form-group">
											{{ form.username|add_class:"form-control" }}
											<label>Username</label>
										</div><!-- end .form-group -->
										<div class="form-group">
											{{ form.email|add_class:"form-control" }}
											<label>Email Address</label>
										</div><!-- end .form-group -->
										<div class="form-group block">
											<!--<input type="password" class="form-control" name="password1" id="id_password1" data-toggle="password">-->
											{{ form.password1|add_class:"form-control" }}
											<div id="complexity" class="default">Password must be 12 characters</div>
											<label>Master Password</label>
										</div><!-- end .form-group -->
										<div class="form-group">
											{{ form.password2|add_class:"form-control" }}
											<label>Confirm Master Password</label>
										</div><!-- end .form-group -->
										<span class="error" style="color:red"></span><br />
										<br><!-- !break -->
										<div class="row">
											<div class="col-xs-12">
												<button class="btn btn-primary btn-block" type="submit">Register</button>
											</div><!--end .col -->
											<div class="col-xs-12 text-left">
												<br><!-- !break -->
												<p>Already have an account? <a href="{% url 'login' %}" class="text-primary"> Login.</a> </p>
											</div><!--end .col -->
										</div><!--end .row -->
									</form><!-- end form -->
								</div><!--end .card-body-->
							</div><!--end .card-->
						</div><!--end .card-body -->
					</div><!--end .card sm-main-->
				</section><!--end .section-->
			</div><!--end .col-sm-->
		</div><!--end .row-->
	{% endblock %}<!-- endblock -->
	</body><!-- end body -->
</html><!-- end html -->