{% load static %}
{% load widget_tweaks %}
<html>
	<head>
		<!--zxcvbn password strength library-->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/materialadmin.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom-css.css' %}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'img/comhaven_logo3.png' %}">
		<script src="{% static 'js/core/AppNavigation.js' %}"></script>
		<script src="{% static 'js/core/AppOffcanvas.js' %}"></script>
		<script src="{% static 'js/core/AppCard.js' %}"></script>
		<script src="{% static 'js/core/AppForm.js' %}"></script>
		<script src="{% static 'js/core/AppVendor.js' %}"></script>
		<script src="{% static 'js/core/Demo.js' %}"></script>
		<script src="{% static 'js/core/DemoTableDynamic.js' %}"></script>
		<title>Create An Account | COMHAVEN</title>
	</head>
	{% block content %}
	<body class="menubar-hoverable header-fixed" style="background-color: white">
		<div class="row col-sm-12" style="padding:0; margin:0;">
			<div class="col-sm-6 text-center">
				<img src="{% static 'img/comhaven_logo4.png' %}" id="app-logo">
			</div><!-- 	end .col-sm-6 -->
			<div class="col-sm-6">
				<!-- BEGIN SIGN-UP SECTION -->
				<section class="section-account">
					<div class="card contain-sm style-transparent mt-0" style="max-width: 450px; height: auto;">
						<br><!-- !break -->
						<div class="card-body">
							<div class="card" id="regForm">
								<div class="card-body">
									<h2 class="text-bold text-center text-primary">Create an account</h2>
									<br><!-- !break -->
									<form class="form floating-label" action="{% url 'register' %}" accept-charset="utf-8" method="post">
										{% csrf_token %}
										<div class="form-group">
											{{ form.username|add_class:"form-control" }}
											<label>Username</label>
										</div><!-- end .form-group -->
										<div class="form-group">
											{{ form.email|add_class:"form-control" }}
											<label>Email Address</label>
										</div><!-- end .form-group -->
										<div class="form-group block">
											<!--<input type="password" class="form-control" name="password1" id="id_password1" data-toggle="password">-->
											{{ form.password1|add_class:"form-control" }}
											<!--<div id="complexity" class="default">Password must be at least 12 characters</div>-->
											<label>Master Password</label>
										</div><!-- end .form-group -->
										<div class="form-group">
											{{ form.password2|add_class:"form-control" }}
											<label>Confirm Master Password</label>
										</div><!-- end .form-group -->
										<div class="form-group">
											<label >Password Strength</label><br>
												<div class="progress">
													<div id="StrengthProgressBar" class="progress-bar"></div>
												</div><!-- end .progress -->
										</div><!-- end .form-group -->
										<span class="error" style="color:#f44336"></span><br />
										<br><!-- !break -->
										<div class="row">
											<div class="col-xs-12">
												<button class="btn btn-primary btn-block" type="submit" id="regBtn">Register</button>
											</div><!--end .col -->
											<div class="col-xs-12 text-left">
												<br><!-- !break -->
												<p>Already have an account? <a href="{% url 'login' %}" class="text-primary"> Login.</a> </p>
											</div><!--end .col -->
										</div><!--end .row -->
									</form><!-- end form -->
								</div><!--end .card-body-->
							</div><!--end .card-->
						</div><!--end .card-body -->
					</div><!--end .card sm-main-->
				</section><!--end .section-->
			</div><!--end .col-sm-->
		</div><!--end .row-->
	{% endblock %}<!-- endblock -->
	</body><!-- end body -->
	<!--JQuery-->
	<script src="{% static 'js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
	<script src="{% static 'js/core/AppForm.js' %}"></script>
	<script src="{% static 'js/core/pass_con.js' %}"></script>
	<script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>
	<!-- zxcvbn -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/1.0/zxcvbn.min.js"></script>
	<script src="{% static 'js/core/zxcvbn-bootstrap-strength-meter.js' %}"></script>
	<script type="text/javascript">
			$(document).ready(function()
			{
				$("#StrengthProgressBar").zxcvbnProgressBar({
					passwordInput: "#id_password1",
					ratings: ["Very Weak", "Weak", "Medium", "Strong", "Very strong"],
				});

			});
		</script>
</html><!-- end html -->