defusedxml==0.5.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.1.4
django-gamification==0.3.1
django-import-export==1.2.0
django-password-strength==1.2.1
django-user-agents==0.3.2
django-widget-tweaks==1.4.3
django-zxcvbn-password==2.0.2
django-zxcvbn-password-validator==1.2.5
et-xmlfile==1.0.1
jdcal==1.4
odfpy==1.4.0
openpyxl==2.5.12
passlib==1.7.1
pinax-points==1.0
py-cpuinfo==4.0.0
pytz==2018.7
PyYAML==3.13
selenium==3.141.0
tablib==0.12.1
ua-parser==0.8.0
unicodecsv==0.14.1
urllib3==1.24.1
user-agents==1.1.0
whitenoise==4.1.2
xlrd==1.2.0
xlwt==1.3.0
zxcvbn==4.4.27
zxcvbn-python==4.4.24
unicorn-19.9.0