{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Access Control {% endblock %}

{% block body %}
<section>

    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <h1 class="text-left mx-auto">&nbsp Access Control List</h1>
            <hr>
        </div>
        <div class="row">
            {% for folders in haven_folder %}
                <h2>{{ folders.login_haven_folder }}</h2>
            {% endfor %}
            <br>
            <br>
            {% for aclist in ac_list %}
            <div class="d-inline p-2 bg-primary text-white">
                <!--first-card -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <div class="divider"></div>
                            <header><h3>Windows</h3></header>
                            <hr>
                        </div>
                        <div class="card-body text-center">
                            <p>Device: {{ aclist.device_model }}</p>
                            <p>Path: {{ aclist.access_id_path }}</p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            {% endfor %}
            </div><!--end d-inline -->
        </div><!--end .row -->
        <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section>
{% endblock %}