{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Access Control {% endblock %}
{% block body %}
<section>
    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <h1 class="text-left mx-auto">&nbsp Access Control List</h1>
            <hr><!-- !line-break -->
        </div><!-- end .row -->
        <div class="row">
            <br><!-- !break -->
            <br><!-- !break -->
            {% for aclist in ac_list %}
            <div class="d-inline p-2 bg-primary text-white">
                <!--first-card -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <div class="divider"></div>
                            <header><h3>{{ aclist.device_platform }}</h3></header>
                            <hr><!-- !line-break -->
                        </div><!-- end .card-head -->
                        <div class="card-body text-center">
                            <p>Device: {{ aclist.device_model }}</p>
                            <p>Path: {{ aclist.access_id_path }}</p>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            {% empty %}
                <div class="col-sm-12 text-center mx-auto" style="color: grey">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span><i class="fa fa fa-lock fa-10x"></i></span>
                    <br><!-- !break -->
                    <br><!-- !break -->
                    <p class="small"> There are no devices registered. </p>
                </div>
            {% endfor %}<!-- endfor -->
            </div><!--end d-inline -->
        </div><!--end .row -->
        <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}<!-- endblock -->