{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Password Generator {% endblock %}
{% block body %}
<section>
	<div class="section-body">
		<div class="row">
			<div class="col-sm-12 justify-content-center" style="padding-left: 60px; padding-right: 60px;">
				<div class="card">
					<div class="card-head" style="color: white; background-color: #2b323a;">
				  		<h2 class="text-left" style="margin-left: 20px;"> Generate a Password</h2>
					</div><!-- end .card-head -->
					<div class="card-body">
						<form class="form" role="form" action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group floating-label">
										{{ form.pass_length | add_class:'form-control'}}
										<label>Password Length</label>
									</div><!-- end .form-group -->
									<div class="form-group floating-label">
										{{ form.pass_phrase | add_class:'form-control'}}
										<label class="floating-label">Password Phrase</label>
									</div><!-- end .form-group -->
									<div class="form-group">
										<label>Include Uppercase and Lowercase {{ form.pass_up_lo_case}}</label>
									</div><!-- end .form-group -->
									<!--<div class="form-group">-->
										<!--<label>Include Lowercase {{ form.pass_lo_case }}</label>-->
									<!--</div>&lt;!&ndash; end .form-group &ndash;&gt;-->
									<div class="form-group">
										<label>Include Numbers {{ form.pass_no_case }}</label>
									</div><!-- end .form-group -->
									<div class="form-group">
										<label>Include Characters {{ form.pass_ch_case }}</label>
									</div><!-- end .form-group -->
									<div class="form-group floating-label">
										<label class="floating-label">Your new password</label>
										<br>
										<div class="input-group">
											<input type="text" id="res" name="pass_result" class="form-control" value="{{ request.session.result }}">
											<!--{{ form.pass_result| add_class:'form-control'| attr:'rows:4' }}-->
											<span class="input-group-addon">
												<span class="top" id="tt"></span>
												<button type="button" onclick="copy()" data-toggle="tooltip" title="Copy to Clipboard" data-placement="top" class="btn btn-default ink-reaction"><i class="fa fa-clipboard"></i></button>
												<button type="button" onclick="show()" data-toggle="tooltip" title="Show/Hide Password" data-placement="top" class="btn btn-default ink-reaction" id="btn_show">
													<i class="fa fa-eye-slash" id="show_eye"></i>
												</button>
											</span><!-- end .input-group-addon -->
										</div><!-- end .input-group -->
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-6">
									<h4 class="text-center"><b></b>Password Strength Breakdown</h4>
									<br>
									<h4>Score: <b>{{ score }}/4</b></h4>
									<h4>Strength: <b>{{ strength }}</b> </h4>
									<h4>Crack-time: <b> {{ cracktime.online_throttling_100_per_hour }}</b> </h4>
									<h4>Guesses: <b>{{ guesses }}</b></h4>
									{% if feedback.suggestions == "[]" %}
									<h4>Feedback: <b>None</b></h4>
									{% else %}
									<h4>Feedback: <b>{{ feedback.suggestions }}</b></h4>
									{% endif %}
								</div>
							</div><!-- end .row -->
							<div class="row">
								<div class="col-md-12">
									<hr><!-- !line-break -->
									<div class="card-actionbar-row">
										<input type="submit" class="btn btn-submit btn-default ink-reaction" id="btn_gen" name="btn_gen" value="GENERATE PASSWORD" style="float: left;color: white; background-color: #2b323a;">
										<!--<a href="{% url 'accounts' %}">-->
											<!--<input type="button" class="btn btn-secondary ink-reaction" value="CANCEL">-->
										<!--</a>-->
									</div><!-- end .card-actionbar-row-->
								</div><!-- end .col-md-12 -->
							</div><!-- end .row -->
						</form><!-- end form -->
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->
			<!-- END FORM - TIME ON SITE -->
		</div><!--end .row -->
	</div><!--end .section-body -->
</section><!-- end section -->
<script>
	function copy() {
	  /* Get the text field */
	  var copyText = document.getElementById("res");

	  /* Select the text field */
	  copyText.select();

	  /* Copy the text inside the text field */
	  document.execCommand("copy");

	  var tooltip = document.getElementById("tt");
	  tooltip.innerHTML = " Copied!";

	}
	function show()
		{
		if( $("#res").attr("type") == "password" ){
			$("#res").attr("type", "text");
			$("#show_eye").attr("class", "fa fa-eye-slash");
		}else{
			$("#res").attr("type", "password");
			$("#show_eye").attr("class", "fa fa-eye");
		}
			return false;
		}
</script>
{% endblock %}<!-- endblock -->
