{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Password Generator {% endblock %}
{% block body %}
<section>
	<div class="section-body">
		<div class="row">
			<div class="col-sm-12 justify-content-center" style="padding-left: 60px; padding-right: 60px;">
				<div class="card">
					<div class="card-head" style="color: white; background-color: #2b323a;">
				  		<h2 class="text-left" style="margin-left: 20px;"> Generate a Password</h2>
					</div><!-- end .card-head -->
					<div class="card-body">
						<form class="form" role="form" action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group floating-label">
										{{ form.pass_length | add_class:'form-control'}}
										<label>Password Length</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
							</div><!-- end .row -->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group floating-label">
										{{ form.pass_phrase | add_class:'form-control'}}
										<label class="floating-label">Password Phrase</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
							</div><!-- end .row -->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<button type="button" class="btn btn-default ink-reaction"><i class="fa fa-cogs"></i></button>
											</span><!-- end .input-group-addon -->
											{{ form.pass_anagram | add_class:'form-control'}}
										</div><!-- end .input-group -->
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
							</div><!-- end .row -->
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label>Include Uppercase {{ form.pass_up_case}}</label>
									</div><!-- end .form-group -->
									<div class="form-group">
										<label>Include Lowercase {{ form.pass_up_case}}</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-3" style="align:right">
									<div class="form-group">
										<label>Include Numbers {{ form.pass_up_case}}</label>
									</div><!-- end .form-group -->
									<div class="form-group">
										<label>Include Characters {{ form.pass_up_case}}</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-3 -->
							</div><!-- end .row -->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group floating-label">
										<div class="input-group">
											<label class="floating-label">Your new password</label>
											{% for res in ps %}
												{{ res.pass_result }}
											{% endfor %}
											<!--{{ form.pass_result| add_class:'form-control'| attr:'rows:4' }}-->
											<span class="input-group-addon">
												<button type="button" class="btn btn-default ink-reaction"><i class="fa fa-clipboard"></i></button>
											</span><!-- end .input-group-addon -->
										</div><!-- end .input-group -->
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-8 -->
							</div><!-- end .row -->
							<div class="row">
								<div class="col-md-12">
									<hr><!-- !line-break -->
									<div class="card-actionbar-row">
										<input type="submit" class="btn btn-submit btn-default ink-reaction"  value="GENERATE PASSWORD" style="float: left;color: white; background-color: #2b323a;">
										<!--<a href="{% url 'accounts' %}">-->
											<!--<input type="button" class="btn btn-secondary ink-reaction" value="CANCEL">-->
										<!--</a>-->
									</div><!-- end .card-actionbar-row-->
								</div><!-- end .col-md-12 -->
							</div><!-- end .row -->
						</form><!-- end form -->
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->
			<!-- END FORM - TIME ON SITE -->
		</div><!--end .row -->
	</div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}<!-- endblock -->
