<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% for login in temp %}
<p>Username: {{login.login_username }}</p>
<p>Password: <input type="text" id="pass" name="password" value="{{ login.login_tp }}"> <a href="" onclick="show()">Show</a> </p>
{% endfor %}
</body>
<script>
    function show()
		{
		if( $("#pass").attr("type") == "password" ){
			$("#pass").attr("type", "text");
		}else{
			$("#pass").attr("type", "password");
		}
			return false;
		}
</script>
</html>