{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Add New Account Logins {% endblock %}
{% block body %}
<section>
	<div class="section-body">
		<div class="row">
			<!-- BEGIN  - FORM -->
			<div class="col-sm-12 justify-content-center" id="login_content">
				<div class="card">
					<div class="card-head" style="color: white; background-color: #2b323a;">
				  		<h2 class="text-left" style="margin-left: 20px;"> Add new account</h2>
					</div><!-- end .card-head -->
					<div class="card-body">
						<form class="form" role="form" action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group floating-label">
										{{ form.login_target_url | add_class:'form-control' }}
										<label>Target Url</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-6">
									<div class="form-group floating-label">
										<!--{{ form.login_name | add_class:'form-control' }}-->
										<input type="text" list="accounts" name="login_name" class="form-control" id="id_login_name">
										<datalist id="accounts">
											<option value="Edmodo">
											<option value="Facebook">
											<option value="GitHub">
											<option value="Instagram">
											<option value="LMS">
											<option value="Schoology">
											<option value="Spotify">
											<option value="Trello">
											<option value="Twitter">
											<option value="UIS">
										</datalist><!-- end datalist -->
										<label>Site Name</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-6">
									<div class="form-group floating-label">
										{{ form.login_username | add_class:'form-control'}}
										<label>Username</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-6" id="fpassword_field">
									<div class="col-sm-11">
										<div class="form-group floating-label">
											{{ form.login_password | add_class:'form-control'}}
										<label>Password</label>
									</div><!-- end .form-group -->
									</div><!-- end .col-sm-11 -->
									<div class="col-sm-1">
										<i class="fa fa-eye-slash" id="show_eye" onclick="show()" data-toggle="tooltip" title="Show/Hide Password" style="margin-top:30px;"></i>
									</div><!-- end .col-sm-1 -->
								</div><!-- end .col-sm-6 -->
								<div class="col-sm-12">
									<div class="form-group floating-label">
										{{ form.login_notes | add_class:'form-control' | attr:'rows:4'}}
										<label>Notes</label>
									</div><!-- end .form-group -->
								</div><!-- end .col-sm-12 -->
								<div class="col-md-12">
									<hr><!-- !line-break -->
									<div class="card-actionbar-row">
										<input type="submit" class="btn btn-default ink-reaction" value="Save" style="color: white; background-color: #2b323a;" id="btnSave">
										<a href="{% url 'accounts' %}">
											<input type="button" class="btn btn-secondary ink-reaction" value="Cancel" id="btnCancel">
										</a>
									</div><!-- end .card-actionbar-row-->
								</div><!-- end .col-md-12 -->
							</div><!-- end .row -->
						</form><!-- end form -->
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->
			<!-- END FORM - TIME ON SITE -->
		</div><!--end .row -->
	</div><!--end .section-body -->
</section><!-- end section -->
<script>
	function show()
		{
		if( $("#id_login_password").attr("type") == "password" ){
			$("#id_login_password").attr("type", "text");
			$("#show_eye").attr("class", "fa fa-eye-slash");
		}else{
			$("#id_login_password").attr("type", "password");
			$("#show_eye").attr("class", "fa fa-eye");
		}
			return false;
		}
</script>
{% endblock %}<!-- endblock -->
