{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}

{% block body %}
<section>

    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <h1 class="text-left mx-auto">&nbsp Express Logins</h1>
            <hr>
        </div>
        <!--<a href="{% url 'new_login' %}">
            <button type="submit" class="btn btn-secondary ink-reaction" id="btn-add" style="float: right; color: white; background-color: #2b323a;"> Add an account</button>
        </a>-->
        <!-- BEGIN ACCOUNTS -->
        <!-- Static Data -->
        <div class="row">
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="th-sm">Name
                  </th>
                  <th class="th-sm">Position
                  </th>
                  <th class="th-sm">Office
                  </th>
                  <th class="th-sm">Age
                  </th>
                  <th class="th-sm">Start date
                  </th>
                  <th class="th-sm">Salary
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr>
              </tbody>
            </table>

        </div><!--end .row -->
        <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section>
<script>
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}