{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}

{% block body %}
    <section>
        <div class="section-body">
            <div class="row">
                <!-- BEGIN  - FORM -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-head"style="color: white; background-color: #2b323a;">
                            <header>Share Credential</header>
                            <div class="divider"></div>
                            <!--<div class="tools">
                                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                            </div>-->
                        </div>
                        <div class="card-body">

                            <form class="form" role="form" action="" method="post"> {% csrf_token %}

                                <div class="row">
                                    <div class="col-sm-6">
                                        <br>
                                        <div class="form-group floating-label">
                                            {{ form.from_email | add_class:'form-control' }}
                                            <label>Sender's Email</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            {{ form.to_email | add_class:'form-control' }}
                                            <label>Recipient's Email</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <br>
                                        <div class="form-group floating-label">
                                            {{ form.subject | add_class:'form-control' | attr:'type:date'}}
                                            <label>Subject</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            {{ form.message | add_class:'form-control' | attr:'rows:2'}}
                                            <label>Note</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr>
                                        <div class="card-actionbar-row">
                                            <input type="submit" class="btn btn-icon btn-default ink-reaction" style="float: right; color: white; background-color: #2b323a;" value="SEND">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END FORM - TIME ON SITE -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
{% endblock %}
