{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} SharedHaven {% endblock %}

{% block body %}
<section>
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
    <div class="section-body" style="padding: 20px;">

        <div class="row">
            <h1 class="text-left mx-auto">&nbsp SharedHaven</h1>
            <hr>
        </div>
        <!--<a href="{% url 'new_login' %}">
            <button type="submit" class="btn btn-secondary ink-reaction" id="btn-add" style="float: right; color: white; background-color: #2b323a;"> Add an account</button>
        </a>-->
        <!-- BEGIN ACCOUNTS -->
        <!-- Static Data -->
        <div class="row">
            <br>
            <br>
            {% for login in new_login %}
            <div class="d-inline p-2 bg-primary text-white">
            <!--first-card -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-head">
                        <header>Share {{ login.login_name }}</header>
                        <div class="divider"></div>
                        <div class="tools" style="margin-top: 15px;">
                            <a href="{% url 'send_email' login.id %}" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-share-alt"></i></a>
                        </div><!-- end .tools -->
                        <hr>
                    </div>
                    <div class="card-body text-left">
                        <p><b>Email:</b> {{ login.login_username }}</p>
                        <p><b>URL: </b>{{ login.login_target_url }}</p>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            {% empty %}
            <div class="col-sm-12 text-center mx-auto" style="color: grey;">
                <br>
                <br>
                <br>
                <br>
                <span><i class="fa fa-share-alt-square fa-10x"></i></span>
                <br><!-- !break -->
                <br><!-- !break -->
                <p class="small"> You don't have an account to share yet. <a href="{% url 'new_login' %}"> Add an account. </a> </p>
            </div>
            {% endfor %}
            </div><!--end d-inline -->
        </div><!--end .row -->
        <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section>
{% endblock %}