{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}

{% block body %}
<section>
    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="text-left">&nbsp User Profile</h1>
            </div>
            <div class="col-sm-2">
               {% for pp in overall_points %}
                <h3 style="margin-top:30px;">Overall Points: {{ pp.overall_points }}</h3>
                {% endfor %}
            </div><!-- end .col-sm-2 -->
            <hr>
        </div>
        <hr>
        <div class="row">
            <div class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-head" style="background: #2b323a; color: white; height: 60px;">
                          <h2 class="text-left" style="margin-left: 20px;"> Account Information</h2>
                        </div><!-- end .card-head -->
                        <div class="card-body">
                          <form>
                              {% if request.user.userprofile.firstname == '' %}
                                <h5 class="text-danger">Complete your profile*</h5>
                              {% endif %}
                              <br><!-- break! -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">First Name</label>
                                        <h4> {{ user.userprofile.firstname }} </h4>
                                    </div><!-- end .form-group -->
                                </div><!-- end .col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="floating-label">Last Name</label>
                                        <h4>{{ user.userprofile.lastname }}</h4>
                                    </div><!-- end .form-group -->
                                </div><!-- end .col-md-6 -->
                            </div><!-- end .row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email address</label>
                                        <h4> {{ user.email }}</h4>
                                    </div><!-- end .form-group -->
                                </div><!-- end .col-md-6 -->
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label class="floating-label">Notes</label>
                                    <h4>{{ user.userprofile.notes }}</h4>
                                </div><!-- end .form-group -->
                              </div><!-- end .col-md-6 -->
                            </div><!-- end .row -->
                              <hr>
                              <div class="row" id="upOpt">
                                  <div class="option-bar col-sm-6">
                                      <ul class="nav navbar-nav option-bar-left">
                                        <li class="dropdown">
                                            <button type="button" id="optBtn" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Options <i class="fa fa-chevron-down"></i> </span>
                                            </button>
                                            <ul class="dropdown-menu animation-dock" id="options-menu">
                                                <li>
                                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#d-modal" data-toggle="tooltip" title="Delete Account"><i class="fa fa-trash"></i> Delete Account</a>
                                                </li><!-- end li -->
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'user_stats' %}"><i class="fa fa-user-shield"></i> View User Stats</a>
                                                </li><!-- end li -->
                                                <li>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#r-modal" href=""><i class="fa fa-gift"></i> Buy/Redeem a Reward</a>
                                                </li><!-- end li -->
                                            </ul><!-- end .dropdown-menu -->
                                        </li><!-- end .dropdown -->
                                      </ul><!-- end .header-nav .option-bar-left -->
                                  </div><!-- end .option-bar -->
                                  <div class="update-bar col-sm-6 text-right row">
                                      <a href="{% url 'user_profile_edit' %}" class="btn btn-default ink-reaction" id="update-btn"><i class="fa fa-edit"></i> Update Profile  </a>
                                  </div><!-- end .update-bar -->
                              </div><!-- end .row -->
                            <div class="clearfix"></div>
                          </form><!-- end form -->
                        </div><!-- end .card-body -->
                      </div><!-- end .card -->
                    </div><!-- end .col-md-12 -->
                  </div><!-- end .row -->
                </div><!-- end .container-fluid -->
            </div><!-- end .content -->
        </div><!--end .row -->
        <!-- MODAL FOR ACCOUNT DELETION -->
        <div class="modal" id="d-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                   <!--MODAL HEADER -->
                    <div class="modal-header">
                        <h4 class="modal-title">Account Deletion</h4>
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            Are you sure you want to delete?
                        </div><!-- end .modal-body -->
                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <a href="{% url 'user_delete' %}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div><!-- end .modal-footer -->
                    </div><!-- end .modal-header -->
                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->
        <!-- END ACCOUNTS -->

        <!-- MODAL FOR REDEEMING REWARDS -->
        <div class="modal" id="r-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                   <!--MODAL HEADER -->
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>Redeem a Reward</h4>
                            </div>
                            <div class="col-sm-4">
                                {% for pp in overall_points %}
                                    <h4>Overall Points: {{ pp.overall_points }}</h4>
                                {% endfor %}
                            </div><!-- end .col-sm-6 -->
                        </div><!-- end .row -->
                        <hr>
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Reward</th>
                                  <th scope="col">Points Required</th>
                                  <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for rewards in rewards %}
                                <tr>
                                  <td>{{ rewards.reward }}</td>
                                  <td>{{ rewards.points_required }} pts.</td>
                                  <td><button type="button" class="btn btn-secondary" style="background-color: #2b323a; color: white;" data-dismiss="modal"><i class="fa fa-gift"></i> </button></td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                        </div><!-- end .modal-body -->
                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div><!-- end .modal-footer -->
                    </div><!-- end .modal-header -->
                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->
    </div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}