{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %} Detailed User Status {% endblock %}

{% block body %}
<section>
    <!-- MESSAGES SECTION -->
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <h1 class="text-left mx-auto" id="page_label">&nbsp Detailed User Stats</h1>
            <hr>
        </div>
        <!-- STATUS BUTTONS -->
        <div class="row">
            <nav class="navbar navbar-primary" id="nav-pills">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    {% for count_dups in dups %}
                    <div class="col-sm-12" id="label_stats">
                        <div class="col-sm-3">
                            <!-- TAB_PILLS DUPLICATE -->
                            <li class="nav-item">
                                <a class="nav-link" id="pill-D-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <div class="card text-center">
                                        <div class="card-body small">
                                           <h6><span class="fa fa-warning"></span> Duplicate ({{count_dups.dup_pword_count}})</h6>
                                        </div><!-- end .card-body -->
                                    </div><!-- end .card .text-center -->
                                </a><!-- end .nav-link -->
                            </li><!-- end .nav-item -->
                        </div><!-- end .col-sm-2 -->
                        <div class="col-sm-3">
                            <!-- TAB_PILLS COMPROMISED -->
                            <li class="nav-item">
                                <a class="nav-link" id="pill-C-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <div class="card text-center">
                                        <div class="card-body small">
                                            <h6><span class="fa fa-warning"></span> Compromised ({{ count_cp }})</h6>
                                        </div><!-- end .card-body -->
                                    </div><!-- end .card .text-center -->
                                </a><!-- end .nav-link -->
                            </li><!-- end .nav-item -->
                        </div><!-- end .col-sm-2 -->
                        <div class="col-sm-3">
                            <!-- TAB_PILLS WEAK -->
                            <li class="nav-item">
                                <a class="nav-link" id="pill-W-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <div class="card text-center">
                                        <div class="card-body small">
                                            <h6><span class="fa fa-warning"></span>Weak ({{ count_wp }})</h6>
                                        </div><!-- end .card-body -->
                                    </div><!-- end .card .text-center -->
                                </a><!-- end .nav-link-->
                            </li><!-- end .nav-item -->
                        </div><!-- end .col-sm-2 -->
                        <div class="col-sm-3">
                            <!-- TAB_PILLS OLD -->
                            <li class="nav-item">
                                <a class="nav-link" id="pill-O-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <div class="card text-center">
                                        <div class="card-body small">
                                            <h6><span class="fa fa-warning"></span> Old ({{ count_op }})</h6>
                                        </div><!-- end .card-body -->
                                    </div><!-- end .card .text-center -->
                                </a><!-- end .nav-link -->
                            </li><!-- end .nav-item -->
                        </div><!-- end .col-sm-2 -->
                    </div><!-- end .col-sm-12 -->
                    {% endfor %}
                </ul><!-- end ul -->
            </nav><!-- end nav -->
            <!-- TABLE -->
            {% if da_count == 0 %}
                <div class="col-sm-12 text-center mx-auto" id="empty3" style="color: grey;">
                    <br><!-- !break -->
                    <br><!-- !break -->
                    <span><i class="fa fa-user-shield fa-10x"></i></span>
                    <br><!-- !break -->
                    <br><!-- !break -->
                    <p class="small"> You don't have any issue with your passwords.</p>
                </div><!-- end .col-sm-12 -->
            {% else %}
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form" action="" method="post">
                                <table class="table table-stripped table-hover table-responsive table-dark">
                                    <thead>
                                        <tr>
                                            <th>Accounts</th>
                                            <th>Last Changes</th>
                                            <th>Action</th>
                                        </tr><!-- end table-row -->
                                    </thead><!-- end table-head-->
                                    <tbody>
                                    {% for account in duplicate_account %}
                                        <tr>
                                            <td>{{ account.login_name }}</td>
                                            <td>{{ account.date_inserted }}</td>
                                            <td>
                                                <a href="{% url 'edit' account.id %}" class="btn btn-danger ink-reaction" id="chgeBtn"> Change</a>
                                            </td>
                                        </tr><!-- end table-row -->
                                    {% empty %}
                                        <div class="col-sm-12 text-center mx-auto" id="empty2" style="color: grey;">
                                            <br><!-- !break -->
                                            <br><!-- !break -->
                                            <span><i class="fa fa-user-shield fa-10x"></i></span>
                                            <br><!-- !break -->
                                            <br><!-- !break -->
                                            <p class="small"> You don't have any issue with your passwords.</p>
                                        </div><!-- end .col-sm-12 -->
                                    {% endfor %}
                                    </tbody><!-- end .table-body -->
                                </table><!-- end .table-->
                            </form><!-- end .form -->
                        </div><!-- end .card-body -->
                    </div><!-- end .card -->
                </div><!-- end .col-sm-12 -->
            {% endif %}<!-- endif -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}