{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<section>
    <div class="section-body" style="padding: 20px;">
    <div class="row">
        <h1 class="text-left mx-auto">&nbsp User Profile</h1>
        <hr><!-- !line-break -->
    </div><!-- end .row -->
    <div class="row">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-head" style="background: #2b323a; color: white; height: 80px;">
                            <h2 class="text-left" style="margin-left: 20px;"> Edit User Information</h2>
                            </div><!-- end .card-head -->
                            <div class="card-body">
                                <form class="form" role="form" method="post" action="">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email Address*</label>
                                                {{ form.email | add_class:'form-control'}}
                                            </div><!-- end .form-group -->
                                        </div><!-- end .col-md-6 -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">First Name*</label>
                                                {{ form.firstname | add_class:'form-control'}}
                                            </div><!-- end .form-group -->
                                        </div><!-- end .col-md-6 -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="floating-label">Last Name*</label>
                                                    {{ form.lastname | add_class:'form-control'}}
                                                </div><!-- end .form-group -->
                                            </div><!-- end .col-md-6 -->
                                    </div><!-- end .row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="floating-label">Notes</label>
                                                {{ form.notes | add_class:'form-control '}}
                                            </div><!-- end .form-group -->
                                        </div><!-- end .col-md-6 -->
                                    </div><!-- end .row -->
                                    <button type="submit" class="btn btn-icon btn-default ink-reaction" style="float: right; color: white; background-color: #2b323a;">Save Changes</button>
                                </form><!-- end form -->
                            </div><!-- end .card-body -->
                        </div><!-- end .card -->
                    </div><!-- end .col-md-12 -->
                </div><!-- end .row -->
            </div><!-- end .container-fluid -->
        </div><!-- end .content -->
    </div><!--end .row -->
    <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}<!-- endblock -->