{% extends 'partial/layout.html' %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %}

{% block body %}
<section>

    <div class="section-body" style="padding: 20px;">
        <div class="row">
            <h1 class="text-left mx-auto">&nbsp User Profile</h1>
            <hr>
        </div>
        <div class="row">
            <div class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-head" style="background: #2b323a; color: white; height: 80px;">
                          <h2 class="text-left" style="margin-left: 20px;"> Account Information</h2>
                        </div><!-- end .card-head -->
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <p class="text-danger" style="margin-left: 10px;">*Complete your profile.</p>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Username</label>
                                    <h4>{{ user.userprofile.user }}</h4>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Email address</label>
                                    <h4> {{ user.userprofile.email }}</h4>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">First Name</label>
                                  <h4> {{ user.userprofile.firstname }} </h4>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="floating-label">Last Name</label>
                                    <h4>{{ user.userprofile.lastname }}</h4>
                                </div><!-- end .form-group -->
                              </div><!-- end .col-md-6 -->
                            </div><!-- end .row -->
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="floating-label">Address</label>
                                    <h4>{{ user.userprofile.address }}</h4>
                                </div><!-- end .form-group -->
                              </div><!-- end .col.md-6 -->
                            </div><!-- end .row -->
                              <hr>
                              <a href="{% url 'user_profile_edit' %}" class="btn btn-icon btn-default ink-reaction" style="float: right; color: white; background-color: #2b323a;">Update Profile</a>
                              <button type="button" data-toggle="modal" class="btn btn-icon btn-danger ink-reaction" data-target="#d-modal">DELETE ACCOUNT </button>
                              <a href="{% url 'user_stats' %}" class="btn btn-icon btn-default ink-reaction" style="color: white; background-color: #2b323a;">Show Stats</a>
                            <div class="clearfix"></div>
                          </form><!-- end form -->
                        </div><!-- end .card-body -->
                      </div><!-- end .card -->
                    </div><!-- end .col-md-12 -->
                  </div><!-- end .row -->
                </div><!-- end .container-fluid -->
            </div><!-- end .content -->
        </div><!--end .row -->
        <!-- MODAL FOR ACCOUNT DELETION -->
        <div class="modal" id="d-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                   <!--MODAL HEADER -->
                    <div class="modal-header">
                        <h4 class="modal-title">Account Deletion</h4>
                        <!-- MODAL BODY -->
                        <div class="modal-body">
                            Do you want to delete this account?
                        </div><!-- end .modal-body -->
                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <a href="{% url 'user_delete' %}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div><!-- end .modal-footer -->
                    </div><!-- end .modal-header -->
                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->
        <!-- END ACCOUNTS -->
    </div><!--end .section-body -->
</section><!-- end section -->
{% endblock %}