#app-logo
{
    max-width: 100%;
    max-height: 400px;
    margin-top: 120px;
}
#main-menu > .nav-link.active  {
    color:white;
}

@media(min-width: 769px){
  #header{
    background: #2b323a;
    color: white;
  }
}
