#app-logo
{
    max-width: 100%;
    max-height: 400px;
    margin-top: 120px;
}
#menubar-hoverable
{
    background-color: white;
}
#welcome-row
{
   padding-top:0;
   margin-top: 0;
}
#btn-add-acc
{
    margin-top: 80px;
    padding: 0 40px;
}
#btn-add
{
    float: right;
    color: white;
    background-color: #2b323a;
}
.jumbotron h2
{
    font-size: 40px;
}
.jumbotron p
{
    font-size: 14px;
}
.card-head{

}
#menu-toggle
{
    margin-left: 5px;
    padding-left: 0;
    margin-top: -3px;
}
.brand-holder img
{
    margin-left: -10px;
}
@media only screen and (max-width: 768px)  {

}