body{
    font-family: 'Roboto', san-serif;
    font-weight: 600;
}
#submenu{
    box-shadow: 2px 2px 5px #888888;
    border: 0;
    position:absolute;
    top: 30px;
    left: -50px;
    min-width: 100px;
}
#launch-btn{
    display: none;
}
#card:hover + #launch-btn{
    display: block;
}
.badge-notify{
    background-color:red;
    position:relative;
    top: -13px;
    left: -9px;
}
.card
{
    font-family: 'Open Sans', san-serif;
    font-weight: 200;
}
#card{
    max-height: 250px;
    height:100%;
    box-shadow: 2px 2px 5px #888888;
}

#text-logo
{
    font-size: 15px;
}
#btnCancel{
    height: 45px;
    box-shadow: 2px 2px 5px #888888;
}
#loginBtn, #regBtn, #btnSave{
    height: 45px;
    box-shadow: 2px 2px 5px #888888;
}
#btn-add, #btn_gen, #update-btn, #optBtn, #chgeBtn{
    box-shadow: 3px 3px 5px #888888;
}
.progress-bar .bg-warning {
    background-color: yellow;
}

.progress-bar .bg-danger {
    background-color: red;
}

.progress-bar .bg-success {
    background-color: green;
}
#app-logo
{
    max-width: 100%;
    max-height: 400px;
    margin-top: 120px;
}
#empty-content
{
    margin-top: 10px;
    color: grey;
}
#menubar-hoverable
{
    background-color: white;
}
#header
{
    font-family: 'Open Sans', san-serif;
    font-weight: 600;
    color: hsl(165, 4%, 34%);
    background-color: #e5e6e6;
}
#label-stats{
    margin:0;
    padding: 0;
}
#label-stats .col-sm-3 .nav-item .nav-link .card{
    max-height: 10px;
}
#welcome-row
{
   padding-top:0;
   margin-top: 0;
}
#btn-add-acc
{
    margin-top: 94px;
    padding: 0 20px;
}
#optBtn{
    color: white;
    background-color: #2b323a;
}
#btn-add
{
    float: right;
    color: white;
    background-color: #2b323a;
    margin-top: -40px;
}
.jumbotron
{
    margin-top: -40px;
}
.jumbotron h2
{
    font-size: 40px;
}
.jumbotron p
{
    font-size: 14px;
}

#menu-toggle
{
    margin-left: 5px;
    padding-left: 0;
    margin-top: -3px;
}
.brand-holder img
{
    margin-left: -10px;
}
#update-btn{

}
.btn-default{
    background-color: #2b323a;
    color: white;
    box-shadow: none;
    border: none;
}
.btn-default:hover{

}
@media only screen and (max-width: 768px)  {

}
