#menubar,
#header{
    background:green;
},

#content .section-header,
.offcanvas-holder {
	display: none;
}

#content,
#content .section-body {
	padding: 0;
}

.card-printable {
	display: block;
}
.card-printable .card-head {
	display: none;
}
@media screen and (min-width: 768px) {
    #header: background-color: #2b323a;
    color: white;
}
body,
#content > section {
	background-color: #ffffff;
	border: 0;
}
